.guam{
    font-size: 1.5em;
    text-decoration: none;
}

.navbarName{
    font-family:'DNFBitBitv2';
    font-size: 1.5em;
    letter-spacing :1.5px;
    text-decoration: none;
    margin-left: 35px;
    margin-top: 20px;
    color:#8B8DB9;
    justify-content: space-between;
}

.navbarName:nth-child(2) {
    margin-left: 80px;
}

.navbarName:hover{
    color: #26469B
}
.Navbar{
    height: 100px;
}

.Container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    border:1px solid #8B8DB9;
    height: 30px;
    margin-top: 20px;
    border-radius: 25px;
    float:right;
    margin-left: 100px;
}


div>input{
    width: 85%;
    border: none;
    outline: none
}

.user{
    margin-top: 30px;
}

.user .navbarName:hover{
    color : #26469B;
}

.active{
    color : #26469B;
}